<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- limit some log output -->
    <logger name="org.apache.spark" level="off"/>
    <logger name="org.spark_project.jetty" level="off"/>
    <logger name="org.apache.hadoop" level="off"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>